target
dist
deploy
.aider*
build
.env
**/.DS_Store

# Contracts

contracts/node_modules
contracts/temp
contracts/build
contracts/dist
contracts/package.ts

# Ton Integration

web_client/node_modules
web_client/dist
